<nav class="navbar navbar-light bg-dark fixed-top">
    <a class="navbar-brand navbar-left" href="#">
        <img src="/assets/img/artificial-intelligence.png" width="30" height="30" class="d-inline-block align-top text-light" alt="">
        <span class="text-light text-nerve ml-2"> Yewin Shu</span>
    </a>
    <ul class="nav navbar-nav navbar-right text-light">
        <li class="text-light">
        <a [routerLink]="['aboutMe']" routerLinkActive="active" class="text-light">
            About Me
        </a>
        </li>
        <li>
        <a [routerLink]="['educationExp']"  class="text-light">
            Education & Experience
        </a>
        </li>
        <li>
        <a [routerLink]="['skills']"  class="text-light">
            Hard & Soft Skills
        </a>
        </li>
        <li>
        <a [routerLink]="['workSample']"  class="text-light">
            Work Samples
        </a>
        </li>
        <li>
        <a [routerLink]="['contact']"  class="text-light">
            Contact
        </a>
        </li>
    </ul>

</nav>