<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5 d-flex justify-content-center">
            <img src="/assets/img/profile.jpg" alt="YewinPicture">
        </div>
    </div>
    <div class="containerCenter">
        
        <h5 class="">About me</h5>
        
        
       
       
            <!-- <h5 class="contentCenter">About me</h5>
            <p class="contentCenter">
                Junior Software Engineer with 3 years of professional
                 experience who has a proven track record of 
                delivering highly visible and complex projects such as
                scalable  <span class="font-weight-bold">SaaS</span> and <span class="font-weight-bold">On-Premise</span> applications, robust database 
                management systems, and intuitive user interfaces within fast-paced
                environments.Engaged collaborator with strong interpersonal skills, 
                able to align multiple teams with conflicting priorities to drive 
                progress under aggressive time constraints.
            </p>
            <div class="row contentCenter">
                <div class="col-6">
                    <button class="btn btn-outline-info">Contact Me</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-outline-info">Download my Resume</button>
                </div>
            </div> -->
        
    </div>

    <div class="containerCenter">
        
        <p class="paragraph">
            Junior Software Engineer with 3 years of professional
             experience who has a proven track record of 
            delivering highly visible and complex projects such as
            scalable  <span class="font-weight-bold">SaaS</span> and <span class="font-weight-bold">On-Premise</span> applications, robust database 
            management systems, and intuitive user interfaces within fast-paced
            environments.Engaged collaborator with strong interpersonal skills, 
            able to align multiple teams with conflicting priorities to drive 
            progress under aggressive time constraints.
        </p>
        
    </div>

    <div class="containerCenter">
        <div class="row">
            <div class="col-6 col-xs-12">
                <button class="btn btn-outline-info">Contact Me</button>
            </div>
            <div class="col-6 col-xs-12">
                <button class="btn btn-outline-info ">Download my Resume</button>
            </div>
        </div> 
    </div>
</div>
