<div class="col-6">
    <div class="card" style="width: 500px;">
        <div class="row no-gutters">
            <div class="col-sm-5" [ngStyle]="{'align-items': 'center'}">
                <img class="card-img" [src]="education.imgURL" alt="Suresh Dasari Card">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">{{education.institutionOrWorkSpace}}</h5>
                    <p class="card-text">{{education.title}}</p>
                    <p class="card-text">{{education.duration}}</p>
                </div>
            </div>
        </div>
    </div>
</div>




