<div class="container">
    <div class="hero-image">
       <div class="box">
            <div class="row">
                <div class="col-sm-5" [ngStyle]="{'align-items': 'center'}">
                    <img class="card-img" src="/assets/img/ibm.png" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">sample</h5>
                        <p class="card-text">sample</p>
                        <p class="card-text">sample</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p> Contributed to the development of a next-generation, Angular-based B2B Order Management System (OMS), delivering a scalable 	omnichannel fulfillment solution. This system is now utilized by over 780 multinational enterprises, significantly enhancing their order 	management capabilities and generating an average of USD 4.2 million in new profits annually.</p>
            </div>
       </div>
    </div>
</div>
