<div class="homeBox">
    <div class="row">
        <div class="col-6">
            <div class="contactList">
                <a href="https://www.linkedin.com/in/yewin-shu-a85016198">
                    <img src="/assets/img/linkedIn.png" alt="" style="width: 80px;">
                </a>
        
                <a href="">
                    <img src="/assets/img/github.png" alt="" style="width: 80px;">
                </a>
                
                <a href="">
                    <img src="/assets/img/ins.png" alt="" style="width: 80px;">
                </a>
            
                <a href="">
                    <img src="/assets/img/fb.png" alt="" style="width: 80px;">
                </a>
            
                <a href="">
                    <img src="/assets/img/wechat.png" alt="" style="width: 80px;">
                </a>
            
            </div>
            
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
