.homeBox{
    padding-left: 5%;
    padding-top: 5%;
    height: 100%;
    margin-bottom: auto;
    margin-right: auto;
}

.contactList{
    display: flex;
    flex-direction: row;
}

.contactList a{
    border: 1px solid white;
    border-radius: 1rem;
    margin-left: 2rem;
}

.contactList a img{
    padding: 20%;
}

.contactList a img:hover{
    transition-duration: 1s;
    padding: 1%;
}

.summary{
    color: white;
    text-align: justify;
    font-family: Mynerve;
}


@font-face {
    font-family: 'Mynerve';
    src: url('/assets/fonts/Poetsen_One/PoetsenOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.subHeader {
    margin-left: 2rem;
}

.cardBox{
    flex-direction: row;
    flex-wrap: nowrap;
}



